{{#each pessoa}}
{{this.nome}} tem {{this.idade}}<br>
{{/each}}
<form method="POST">
    <input name="nome" type="text">
    <input type="text" name="idade">
    <input type="submit" value="ok">
</form>